<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection"
         providerName="Npgsql"
         connectionString="Host=localhost;Port=5432;Database=vetcare;Username=vetcare;Password=vetcare;SearchPath=vetcare" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

</configuration>
